/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-06-01, 18:39:37
    Author     : Arek
*/

#menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

table.booksTable th {
    border-bottom: 1px solid #ddd;
}

table.booksTable td {
    border-bottom: 1px solid #ddd;
}