<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/pageTemplate.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
<!--    możliwość zmiany ilości sprzedanych/posiadanych ilości danej książki gdy klient kupi książkę, możliwość usunięcia już nie sprzedawanej książki.-->
    
    <f:loadBundle basename="locale.messages" var="msg" /> 
    
    <ui:define name="title">
        #{msg.mainTitle}
    </ui:define>
    
    <ui:define name="header">
        <h2>#{msg.mainTitle}</h2>
    </ui:define>

    <ui:define name="content">
        <c:choose>
            <c:when test="#{sessionScope.isLogged == true}">
                <h3><h:link value="#{msg.addBook}" outcome="addBook"></h:link></h3> 
            </c:when>
            <c:otherwise>
                <h3>#{msg.logedOutMsg}</h3>
            </c:otherwise>
        </c:choose>
        
        <h3>#{msg.books}</h3>
            <h:dataTable value="#{bookstoreModel.books}" var="book" styleClass="booksTable" cellpadding="15">
                <h:column>
                    <f:facet name="header">#{msg.title}</f:facet>
                    <a class="title">#{book.title}</a>
                </h:column>
                <h:column>
                    <f:facet name="header">#{msg.author}</f:facet>
                    <h:outputLabel value="#{book.author}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">#{msg.price}</f:facet>
                    <h:outputLabel value="#{book.price}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">#{msg.count}</f:facet>
                    <h:outputLabel value="#{book.count}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">#{msg.changeCount}</f:facet>
                    <h:form>
                        <ui:param name="bookID" value="#{bookstoreModel.getBookID(book)}"/>
                        <h:commandButton value="+" action="#{bookstoreModel.increaseBookCount(bookID, 1)}"/>
                        <h:commandButton value="-" action="#{bookstoreModel.decreaseBookCount(bookID, 1)}"/>
                    </h:form>
                </h:column>
                <h:column>
                    <f:facet name="header">#{msg.delete}</f:facet>
                    <h:form>
                        <ui:param name="bookID" value="#{bookstoreModel.getBookID(book)}"/>
                        <h:commandButton value="#{msg.delete}" action="#{bookstoreModel.removeBookByID(bookID)}"/>
                    </h:form>
                </h:column>
                <h:column>
                    <div class="additionalInfo">
                        #{msg.publicationYear}:
                        <h:outputLabel value="#{book.publicationYear}"/>
                        <br/>
                        ISBN:
                        <h:outputLabel value="#{book.ISBN}"/>
                    </div>
                </h:column>
            </h:dataTable>
        <h:outputScript>
            infoInit();
            
            $('a.title').click(function(){
                infoToggle(this);
            }); 
        </h:outputScript>
    </ui:define>
</ui:composition>

