<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition template="/pageTemplate.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="title">
        #{msg.mainTitle}  - #{msg.error} !
    </ui:define>
    
    <ui:define name="header">
        <h2 style="color:red">#{msg.loginError}</h2>
    </ui:define>

    <ui:define name="content">
        <h3>#{msg.checkLogin}</h3>
        <h3><h:link value="#{msg.btnBack}" outcome="login"></h:link></h3>        
    </ui:define>
</ui:composition>
