<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"> 
    
    <h:form>
        <h:panelGrid columns="3"> 
            <h:outputLabel value="#{msg.lang}:"/>
            <h:selectOneMenu value="#{userData.locale}" onchange="submit()"
                valueChangeListener="#{userData.localeChanged}">
            <f:selectItems value="#{userData.countries}" /> 
            </h:selectOneMenu>
            <h:panelGroup>
                <c:choose>
                    <c:when test="${sessionScope.isLogged == true}">
                        <h3><h:link value="#{msg.logout}" onclick="#{systemUsersModel.logout()}"></h:link></h3>
                    </c:when>
                    <c:otherwise>
                        <h3><h:link value="#{msg.login}" outcome="login"></h:link></h3>
                    </c:otherwise>
                </c:choose>
            </h:panelGroup>
        </h:panelGrid> 
    </h:form>
    
</ui:composition>    
